.profileScreen {
  height: 100vh;
  color: #fff;
}

.profileScreen__body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
  max-width: 800px;
}

.profileScreen__body > h1 {
  font-size: 60px;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 20px;
}

.profileScreen__info {
  display: flex;
}

.profileScreen__info > img {
  height: 100px;
}

.profileScreen__details {
  color: #fff;
  margin-left: 25px;
  flex: 1;
}

.profileScreen__details > h2 {
  background-color: gray;
  padding: 15px;
  padding-left: 20px;
  font-size: 15px;
}

.profileScreen__plans {
  margin-top: 20px;
}

.profileScreen__plans > h3 {
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}

/* .profileScreen__plan {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  margin-bottom: 0;
  padding: 10px;
  cursor: pointer;
}

.profileScreen__plan:hover {
  background-color: #282c2d;
}

.profileScreen__subscribe {
  color: #fff;
  background-color: #e50914;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}

.profileScreen__unsubscribe {
  color: #e50914;
  background-color: #282c2d;
  border: none;
  border-radius: 1px;
  cursor: pointer;
} */

.profileScreen__signOut {
  padding: 10px 20px;
  margin-top: 5%;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  color: #fff;
  background-color: #e50914;
  border: none;
  cursor: pointer;
}
